{% extends "base.html" %}

{% block content %}
    <h1>Peso en kg</h1>
        <form method="GET" class="post-form">{% csrf_token %}
            <table>
                 <td width="10%">
                    <p></p>
                </td>
                <td width="10%">
                    <p><a href="../nuevo" >Registrar nuevo peso</p>
                </td>
            </table>
        </form>

    {% if peso_list %}
    <table>
        <tr valign="top">
            <td width="10%" style="border-top: 1px double #808080; border-bottom: 1px double #808080; border-left: 1px double #808080; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>Fecha</p>
            </td>
            <td width="10%" style="border-top: 1px double #808080; border-bottom: 1px double #808080; border-left: 1px double #808080; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>Peso</p>
            </td>
            <td width="10%" style="border-top: 1px double #808080; border-bottom: 1px double #808080; border-left: 1px double #808080; border-right: 1px double #808080; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>Acciòn</p>
            </td>
		</tr>
        <tr>
      {% for peso in peso_list %}
            <td width="10%" style="border-top: 1px double #808080; border-bottom: 1px double #808080; border-left: 1px double #808080; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p> {{peso.fecha}}</p>
            </td>
            <td width="10%" style="border-top: 1px double #808080; border-bottom: 1px double #808080; border-left: 1px double #808080; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p> {{peso.peso}}</p>
            </td>
            <td width="10%" style="border-top: 1px double #808080; border-bottom: 1px double #808080; border-left: 1px double #808080; border-right: 1px double #808080; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p><a href="../borrar/{{peso.id}}" > eliminar </p>
            </td>
        </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>No hay datos a mostrar</p>
    {% endif %}
{% endblock %}